# ignore eagle automatic backups ( git is the VCS! )
*.[bls]#?

# Eagle project file
# It contains a serial number and references to the file structure
# on your computer.
# comment the following line if you want to have your project file included.
eagle.epf

# ignore libreoffice lock files
.~lock.*
